<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1120px"}} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"esteban-portfolio/hero"} /-->
<!-- wp:pattern {"slug":"esteban-portfolio/about"} /-->
<!-- wp:pattern {"slug":"esteban-portfolio/experience"} /-->
<!-- wp:pattern {"slug":"esteban-portfolio/featured-projects"} /-->
<!-- wp:pattern {"slug":"esteban-portfolio/contact"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
